name: ci

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'k8s/dist/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      -
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
#      -
#        name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#      -
#        name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          registry: https://registry.cloudticon.com
#          username: admin
#          password: ${{ secrets.DOCKER_PASSWORD }}
#      -
#        name: Build and push
#        uses: docker/build-push-action@v4
#        with:
#          push: true
#          tags: registry.cloudticon.com/cdk8s-argocd-test:${{ github.sha }}



      - name: Install node packages
        run: npm ci
        working-directory: k8s

      - run: npm run compile
        working-directory: k8s
      - run: npm run synth
        working-directory: k8s

      - uses: EndBug/add-and-commit@v9
        with:
          add: 'k8s'
          push: true

      - name: Sync ArgoCD Application
        uses: omegion/argocd-actions@master
        with:
          address: "argo.devticon.cloudticon.com"
#          token: ${{ secrets.ARGOCD_TOKEN }}
          action: sync
          appName: "cdk8s-argocd-test"