name: ci

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'k8s/dist/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'cloudticon/gitops'
          path: "k8s/dist"

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
#      -
#        name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
##      -
##        name: Set up Docker Buildx
##        uses: docker/setup-buildx-action@v2
##      -
##        name: Login to Docker Hub
##        uses: docker/login-action@v2
##        with:
##          registry: https://registry.cloudticon.com
##          username: admin
##          password: ${{ secrets.DOCKER_PASSWORD }}
##      -
##        name: Build and push
##        uses: docker/build-push-action@v4
##        with:
##          push: true
##          tags: registry.cloudticon.com/cdk8s-argocd-test:${{ github.sha }}
#
#
#
      - name: Install node packages
        run: npm ci
        working-directory: k8s

      - run: npm run compile
        working-directory: k8s
      - run: npm run synth
        working-directory: k8s

      - run: touch k8s/dist/krs

      - run: |
          ls -la
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git remote remove origin
          git remote add origin https://$GH_TOKEN@github.com/cloudticon/gitops
          git add .
          git commit -m "test"
          git push
        working-directory: k8s/dist
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
#      - name: Commit & Push changes
#        uses: actions-js/push@master
#        with:
#          branch: master
#          repository: cloudticon/gitops
#          directory: "k8s/dist"
#          empty: true
#          github_token: ${{ secrets.GH_TOKEN }}
#

#    - uses: EndBug/add-and-commit@v9
#        with:
#          add: '.'
#          push: true
#          cwd: 'k8s/dist'

#      - name: Invoke deployment hook
#        uses: distributhor/workflow-webhook@v3
#        env:
#          webhook_url: https://argo.devticon.cloudticon.com/api/webhook
#          json: '{ "repository": "${{github.event.repository.full_name}}", "number": "${{github.event.number}}", "created_at": "${{github.event.pull_request.created_at}}", "updated_at": "${{github.event.pull_request.updated_at}}" }'
#
#      - name: Sync ArgoCD Application
#        uses: omegion/argocd-actions@master
#        with:
#          address: "argo.devticon.cloudticon.com"
#          token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhcmdvY2QiLCJzdWIiOiJrcnM6YXBpS2V5IiwibmJmIjoxNjkyMzU5MjYxLCJpYXQiOjE2OTIzNTkyNjEsImp0aSI6InRlc3QifQ.S8VcMGUSOX4X-9YgUa9r3OBHD9WYgJsWhOHp5ZYNnaE
#          action: sync
#          appName: "cdk8s-argocd-test"