name: ci

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'k8s/dist/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: 'cloudticon/gitops'
          path: "k8s/dist"

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: https://registry.cloudticon.com
          username: admin
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v4
        with:
          push: true
          tags: registry.cloudticon.com/cdk8s-argocd-test:${{ github.sha }}

      - name: Install node packages
        run: npm ci
        working-directory: k8s

      - run: npm run synth
        working-directory: k8s
        env:
          IMAGE: registry.cloudticon.com/cdk8s-argocd-test:${{ github.sha }}

      - run: ./git-push.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
